<%- include("../partials/header", { locale }) %>

<h1> Status RedMetrics </h1>

<table>
    <tr>
        <th>deployedAt</th><td><%= deployedAt %></td>
    </tr>
    <tr>
        <th>uptime</th><td><%= uptime %></td>
    </tr>
    <tr>
        <th>uptimeText</th><td><%= uptimeText %></td>
    </tr>
    <tr>
        <th>version</th><td><%= version %></td>
    </tr>
    <tr>
        <th>license</th><td><%= license %></td>
    </tr>
</table>

<%- include("../partials/footer") %>